 <div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4>Медицина будущего</h4>
          <p class="text-body-secondary">Программы комплексной диагностики в МЕДИ Premium </p>
          <p class="text-body-secondary">Мы разработали комплексные программы обследования CHECK-UP на базе
            международных стандартов доказательной медицины.
            Здесь собраны только самые необходимые услуги и предусмотрено всё для комфорта пациентов:
            посещение специалистов в рамках одного отделения без очередей за 1-2 дня,
            сопровождение менеджерами клиентского сервиса, размещение в стационаре.
            Подготовка паспорта здоровья и рекомендаций по результатам обследования и консилиума врачей.
          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4>Навигация</h4>
          <ul class="list-unstyled">
            <li><a href="{% url 'main:patient_list' %}" class="text-primary-emphasis">Главная</a></li>

            <li><a href="{% url 'services:contact_list' %}" class="text-primary-emphasis">Контакты</a></li>
            <li><a href="{% url 'services:feedback_list' %}" class="text-primary-emphasis">Обратная связь</a></li>
            <li><a href="{% url 'services:site_map_list' %}" class="text-primary-emphasis">Как нас найти</a></li>
            {% if user.is_authenticated %}
            <hr>
            <li><a href="{% url 'users:reset_password' %}" class="text-primary-emphasis">Сброс пароля</a></li>
            <li><a href="{% url 'users:profile' %}" class="text-primary-emphasis">Профиль</a></li>
            <li><a href="{% url 'users:logout' %}" class="text-primary-emphasis">Выход</a></li>
            {% else %}
            <hr>
            <li><a href="{% url 'users:login' %}" class="text-primary-emphasis">Вход</a></li>
            <li><a href="{% url 'users:register' %}" class="text-primary-emphasis">Регистрация</a></li>
            {% endif %}

          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="{% url 'main:patient_list' %}" class="navbar-brand d-flex align-items-center">
        <strong>MEDI Premium</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  
  
