{% extends 'main/base.html' %}
{% block content %}
<body>

    <div class="collapse" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-primary">О нас</h4>
                    <p class="text-white">МЕДИ Premium — это:
                        Мультидисциплинарная команда врачей
                        Прием специалиста длительностью 1 час
                        Уникальные технологии диагностики и лечения при сочетании нескольких серьезных заболеваниях
                        «Второе мнение» при сложных и неясных диагнозах
                        13 направлений CHECK-UP, комплексная диагностика, включающая все необходимые виды обследований
                        Собственный процедурный кабинет. Лаборатрные исследования без очереди
                        Высококлассный клиентский сервис. Составление удобного графика посещения врачей и программы маршрутизации
                        Комфортные условия для пациента на всех этапах нахождения в клинике</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-primary">Есть вопросы?
                        Заполните форму и мы с Вами свяжемся</h4>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'services:contact_list' %}" class="text-white">Контакты</a></li>
                        <li><a href="{% url 'services:about_list' %}" class="text-white">О нас</a></li>
                        <li><a href="{% url 'services:feedback_list' %}" class="text-white">Обратная связь</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Вернуться к началу</a>
        </p>
        <p> &copy; 2024 - {% now 'Y' %} Компания медицинской диагностики</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/holder.min.js' %}"></script>
</body>
</html>
