{% extends 'main/base.html' %}
{% load my_tags%}
{% block content %}

<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col-6">
            <div class="card shadow-sm">

              <div class="card-body">
                <h5 class="card-title">{{ object.service_name|title }}</h5>
                <p class="card-text">{{object.description}} </p>
                <p class="card-text">Стоимость: {{object.price}}</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'services:service_list' %}" role="button">Вернуться</a>
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'services:service_confirm_delete' object.pk %}" role="button">Удалить</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}